@import '~antd/dist/antd.css';

img {
  width: 100%;
}
.layout__landing {
  position: relative;
  background: url('./img/house.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;
  margin-bottom: -50px;
}

.App {
  text-align: center;
}

.admin__alladminproperties__cards{
  display: flex;
  
}

.admin__addproperty__form {
 height: auto;
 width: auto;
 display: flex;
 justify-content: center;
}

.admin__addproperty__contact-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.admin__addproperty__property-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
