@import '~antd/dist/antd.css';

img {
  width: 100%;
}
.layout__landing {
  position: relative;
  background: url('./img/house.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;
}

.App {
  text-align: center;
}



/* .admin__alladminproperties__cards{
  display: grid;
  
} */

.admin__alladminproperties__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

}
.page5{
  min-height: 500px;
  border: solid black;
}

@media screen and (max-width: 720px) {
  .admin__alladminproperties__cards {
    grid-template-columns: auto auto;
  }

}

.introh1 {
  color: white;
}

.intro {
  height: 100%;
  width: auto;
  padding: 100px;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50vh;
  width: auto;
}

.callCard {
  float: right;
}


.loginInput {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.loginImage {
  background: url('./img/login.jpg') no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.search {
  width: 100%;
  position: relative;
}
.admin__addproperty__form {
 height: auto;
 width: auto;
 display: flex;
 justify-content: center;
}

.admin__addproperty__contact-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.admin__addproperty__property-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
